extends layout

block content
  .container-fluid
    form.form-horizontal(role="form" method="post")
      fieldset
        legend #{title} #{expiry_date}
        .form-group
          label.col-sm-2.control-label(for="username") username
          .col-sm-3
            input#email.form-control(type="text" name="title" value="#{email}" readonly)
        .form-group
          label.col-sm-2.control-label(for="password") password
          .col-sm-3
            input#password.form-control(type="password" name="password")
        .form-group
          label.col-sm-2.control-label(for="password") confirm
          .col-sm-3
            input#confirm.form-control(type="password" name="confirm")
        .form-group
          .col-sm-offset-2.col-sm-3
            button.btn.btn-primary(type="submit") login



